body.prelog {
    background-image: url("../imgs/mtb-bg.jpg");
}

body.postlog {
    background-image: url("../imgs/mountain-bg.jpg");
}

.whitebg {
    background: #e8f5e9;
}

.flashes h4 {
    line-height: 2;
}

.add_form {
    padding: 20px;
}

.header-title{
    padding-right: 5px;
}
.edit-btn {
    margin-top: 10px;
}

.admin-tool {
    margin-top: 5px;
    margin-bottom: 10px;
}
