{% extends "prelog-base.html" %}
{% block content %}
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m4 offset-m4 center-align">
            <div class="card medium blue-grey darken-1">
                <div class="card-content white-text">
                    <h1>Welcome MTB Logs</h1>
                    <h5>An easy way to log any mtb ride!</h5>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s3"></div>
                            <div class="col l3 m12 center-align">
                                <a class="waves-effect waves-light btn"  href="{{ url_for('login') }}">Log In</a>
                            </div>
                            <div class="col l3 m12 center-align">
                                <a class="waves-effect waves-light btn" href="{{ url_for('register') }}">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}