{% extends "postlog-base.html" %}
{% block content %}
    <ul class="collapsible">
        {% for log in logs %}
            <li>
                <div class="collapsible-header row">  
                    <div class="col s8">
                        <span class="header-title"><i class="fas fa-caret-down"></i></span>  
                        <span class="header-title"><strong>{{ log.name }}</strong></span>     
                        <span class="header-title">{{ log.date }}</span>  
                        <span class="header-title">{{ log.created_by }}</span>
                    </div>
                    <div class="col s4">
                        <a href="{{ url_for('edit_log', log_id=log._id) }}" class="waves-effect waves-light btn"><i class="fas fa-edit"></i></a>
                        <a href="" class="waves-effect waves-light btn red accent-4"><i class="fas fa-times"></i></a>
                    </div>
                        

                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 center-align">
                            {{ log.description }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 center-align">
                            <p>Location: {{ log.location }}</p>
                        </div>
                        <div class="col s6 center-align">
                            <p>Weather: {{ log.weather }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 center-align">
                            <p>Grade: {{ log.grade }}</p>
                        </div>
                        <div class="col s6 center-align">
                            <p>Discipline: {{ log.discipline|capitalize }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 center-align">
                            <p>Elevation: {{ log.elevation }}</p>
                        </div>
                        <div class="col s6 center-align">
                            <p>Distance: {{ log.distance }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 center-align">
                            <p>Trail Condition: {{ log.trail_conditions|capitalize }}</p>
                        </div>
                        <div class="col s6 center-align">
                            <p>Bike Used: {{ log.bike_used }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            Would I ride again? {{ log.ride_again }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}