{% extends "postlog-base.html" %}
{% block content %}
    <ul class="collapsible">
        {% for log in logs %}
        <!-- Delete modal -->
        <div id="delete_log" class="modal">
            <div class="modal-content center-align">
                <h3>Are you sure you want to delete {{ log.name }}?</h3>
                <div class="row">
                    <div class="col s6 center-align">
                        <a href="{{ url_for('delete_log', log_id=log._id) }}" class="waves-effect waves-light btn">
                            Yes
                        </a>
                    </div>
                    <div class="col s6 center-align">
                        <a href="#!" class="waves-effect waves-light btn modal-close">
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <li>
        <!-- Main page -->
            <div class="collapsible-header row">
                <div class="col s8">
                    <span class="header-title"><i class="fas fa-caret-down"></i></span>
                    <span class="header-title"><strong>{{ log.name }}</strong></span>
                    <span class="header-title">{{ log.date }}</span>
                    <span class="header-title"><strong>{{ log.created_by }}</strong></span>
                </div>
                <div class="col s4">
                    {% if session.user|lower == log.created_by|lower or session.user|lower == 'admin' %}
                    <a href="{{ url_for('edit_log', log_id=log._id) }}" class="waves-effect waves-light btn"><i
                            class="fas fa-edit"></i></a>
                    <a href="#delete_log" class="waves-effect waves-light btn red accent-4 modal-trigger"><i
                            class="fas fa-times"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 center-align">
                        {{ log.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align">
                        <p>Location: {{ log.location }}</p>
                    </div>
                    <div class="col s6 center-align">
                        <p>Weather: {{ log.weather }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align">
                        <p>Grade: {{ log.grade }}</p>
                    </div>
                    <div class="col s6 center-align">
                        <p>Discipline: {{ log.discipline|capitalize }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align">
                        <p>Elevation (Meters): {{ log.elevation }}</p>
                    </div>
                    <div class="col s6 center-align">
                        <p>Distance (Meters): {{ log.distance }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align">
                        <p>Trail Condition: {{ log.trail_conditions|capitalize }}</p>
                    </div>
                    <div class="col s6 center-align">
                        <p>Bike Used: {{ log.bike_used }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        Would I ride again? {{ log.ride_again }}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}